<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PLN UP3 Gresik - Data Pelanggan</title>

    <!-- Custom fonts and styles -->
    <link href="../dashboard/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="../dashboard/template/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../dashboard/template/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard.php">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-bolt"></i>
                </div>
                <div class="sidebar-brand-text mx-3">PLN UP3 Gresik</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="dashboard.php">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item active">
                <a class="nav-link" href="tablesDataPelanggan.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Pelanggan</span></a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Cari Nama/IDPEL...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </nav>
                
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Data Pelanggan PLN UP3 Gresik</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Pelanggan UP3 Gresik</h6>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID Pelanggan</th>
                                            <th>Nama Pelanggan</th>
                                            <th>Email</th>
                                            <th>No Telepon</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php
                                        require_once "../models/dataPelangganModel.php";
                                        $dataPelanggan = getAllDataPelanggan();
                                        foreach ($dataPelanggan as $pelanggan): ?>
                                            <tr>
                                                <td><?= htmlspecialchars($pelanggan['IDPEL']) ?></td>
                                                <td><?= htmlspecialchars($pelanggan['Nama_Pelanggan']) ?></td>
                                                <td><?= htmlspecialchars($pelanggan['Email']) ?></td>
                                                <td><?= htmlspecialchars($pelanggan['No_Tlf']) ?></td>
                                                <td>
                                                    <a href="dataPelanggan.php?action=edit&IDPEL=<?= $pelanggan['IDPEL'] ?>" class="btn btn-warning btn-sm">Edit</a>
                                                    <a href="dataPelanggan.php?action=delete&IDPEL=<?= $pelanggan['IDPEL'] ?>" class="btn btn-danger btn-sm" onclick="return confirm('Apakah Anda yakin ingin menghapus data ini?')">Hapus</a>
                                                    <button class="btn btn-info btn-sm btn-send-email" data-idpel="<?= $pelanggan['IDPEL'] ?>" data-email="<?= $pelanggan['Email'] ?>">Kirim Email</button>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; PLN UP3 Gresik 2025</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="../dashboard/template/vendor/jquery/jquery.min.js"></script>
    <script src="../dashboard/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../dashboard/template/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../dashboard/template/js/sb-admin-2.min.js"></script>
    <script src="../dashboard/template/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../dashboard/template/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="../dashboard/template/js/demo/datatables-demo.js"></script>
</body>

</html>